@charset "utf-8";
/* CSS Document */

/* - PRELIMS - */
html { height: 100%; }
body {
	width: 60%;
	height: 100%;
	margin: auto;
	min-width: 640px;
	max-width: 960px;
	color: #777;
	background: #EEE;
	font: 14px Verdana, Geneva, sans-serif;
	box-shadow: 5px 10px 40px rgba(0,0,0,0.5);
}

/* - HEADER - */
header { padding: 32px; }
