@charset "utf-8";
/* CSS Document */

/* - PRELIMS - */
body {
	width: 60%;
	margin: auto;
	min-width: 640px;
	max-width: 960px;
	color: #777;
	background: #EEE;
	font: 14px Verdana, Geneva, sans-serif;
	line-height: 150%;
	box-shadow: 5px 10px 40px rgba(0,0,0,0.5);
}

/* - HEADER - */
header { padding: 64px 64px 16px 64px; }
header #pdf {
	color: #EEE;
	float: right;
	padding: 5px 10px;
	background: #666;
	border: 1px solid #333;
	border-radius: 5px;
	text-decoration: none;
}
header #pdf:hover, header #pdf:active {
	color: #FFF;
	background: #999;
	border: 1px solid #666;
}
header aside {
	float: right;
	text-align: right;
}

/* - ARTICLE - */
article { padding: 16px 64px; }
article h3 { text-align: right; text-decoration: underline; }
article h4 { display: inline; }
article h5 { display: inline; margin: 0; float: right; }
article hr { color: #666; }
article div { font-size: 12px; margin-bottom: 24px; }
