@charset "utf-8";

/* - PRELIMS - */
::selection { color: #888; background: rgba(128, 128, 128, 0.1); }
* { box-sizing: border-box; }
html {
  font-size: 24px;
  font-family: "Noto Sans", sans-serif;
}
body {
  width: 420mm;
  height: 594mm;
  margin: 8rem auto;
  color: #444;
  background: #969696;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 7fr;
  box-shadow: 8px 8px 32px #222;
}
h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}
h2 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 100;
  font-family: "Noto Sans Condensed", sans-serif;
}
h3 {
  margin: 0.5rem auto;
  padding-left: 2rem;
  font-size: 1.25rem;
  font-weight: 100;
  font-family: "Noto Sans Condensed", sans-serif;
}
a { color: #06C; text-decoration: none; }
a:hover { color: #39F; }

/* - ASIDE - */
aside {
  color: #888;
  padding: 2rem;
  background: #0a0a0a;
}
aside section {
  margin: 2.5rem auto;
}
aside ul {
  font-family: "Noto Sans Condensed", sans-serif;
  line-height: 150%;
  list-style-type: none;
}

/* - HEADER - */
header {
  text-align: center;
}
header h1 {
  margin: 1rem auto;
  font-size: 3rem;
  font-weight: 100;
  font-family: "Noto Sans Condensed", sans-serif;
  letter-spacing: 0;
}
header address {
  line-height: 150%;
}

/* - MAIN - */
main {
  background: #ddd;
  padding: 2rem;
}

/* - CLASS - */
a.download {
  display: block;
  margin: 2rem auto;
  padding: 0.5rem;
  color: #666;
  background: #222;
  border-radius: 2rem;
}
a.download:hover {
  color: #888;
  background: #333;
}
a.download:active {
  color: #aaa;
  background: #444;
}
img.logo {
  height: 2.5rem;
  vertical-align: middle;
  filter: grayscale(1) contrast(2) brightness(25%);
}
.unit {
  margin: 1rem auto;
}
.unit ul, .unit p {
  margin: 0.5rem auto;
  padding-left: 3rem;
}

/* - FOOTER - */
footer { font-size: 0.75rem; }

/* - MEDIA - */
@media print {
  @page { margin: 0; size: a4 portrait; }
  body { margin: 0; padding: 0; }
  a { color: inherit; }
  h1 { letter-spacing: 0.125rem; }
  footer { display: none; }
  a.download { display: none; }
}
@media screen and (max-width: 1920px) {
  html { font-size: 16px; }
  body {
    width: 285mm;
    height: 400mm;
    margin: 4rem auto;
  }
}
@media screen and (max-width: 1280px) {
  body { margin: 1rem auto; }
}
